<hr>
<footer class="page-footer font-small mdb-color">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left pb-3">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <p>We collect awesome products from Amazon.com, we only choose the best one! ;) Please bookmark our
                    website to get compelling things on the internet.</p>
            </div>

            <hr class="w-100 clearfix d-md-none">

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <p>
                    <a href="#">Terms</a>
                </p>
                <p>
                    <a href="#">Privacy</a>
                </p>
                <p>
                    <a href="#">Directory</a>
                </p>
                <p>
                    <a href="#">Send feedback</a>
                </p>
            </div>

            <hr class="w-100 clearfix d-md-none">

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                <p>
                    <a href="/about/">About</a>
                </p>
                <p>
                    <a href="#">App</a>
                </p>
                <p>
                    <a href="/product/add/">Add products</a>
                </p>
                <p>
                    <a href="#">Blog</a>
                </p>
            </div>

            <hr class="w-100 clearfix d-md-none">

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto">
                <p>
                    <i class="fas fa-home mr-3"></i> Gayo Lues, Aceh, 24653, ID</p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> teguh.mow [at] gmail.com</p>
                <p>
                    <i class="fas fa-phone mr-3"></i> + 62 812 222 90905</p>
            </div>
        </div>

        <hr>

        <div class="row d-flex align-items-center">
            <div class="col-md-7 col-lg-8">
                <p class="text-center text-md-left text-muted">
                    <small>
                        While using this site, you agree to have read and accepted our terms of use, cookie and privacy
                        policy. <br>Copyright © {% now "Y" %} by
                        <a href="https://diramadan.com/">
                            <strong>diramadan.com</strong>
                        </a>. All Rights Reserved.

                    </small>
                </p>
            </div>
            <div class="col-md-5 col-lg-4 ml-lg-0">
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>