{% extends 'base.html' %}

{% block title %}Diramadan.com - {{ object.name }} only {{ object.price }} on Amazon{% endblock title %}

{% block content %}
<div class="container">
    <div class="card p-3">
        <a href="{{ object.product_origin }}" target="_blank" class="product-details mb-5">
            <h1 class="text-center">{{ product.name|truncatewords:7 }}</h1>
        </a>
        <img src="{{ object.image }}" class="img-fluid rounded mx-auto d-block mb-2" alt="cover" />
        <table class="table text-center">
            <tr>
                <td>
                    <a href="{{ object.product_origin }}" target="_blank" class="btn btn-success p-3 w-50">
                        {{ object.price }} on Amazon
                    </a>
                </td>
            </tr>
            <p class="text-center">This product made by {{ object.seller }} and get rating {{ object.rating }}. Listed
                in
                this site found by @{{ object.found_by.username }} on {{ object.date_updated|date:"d F Y" }}, with tags:
                {{ object.tags.all|join:","|default:"No tags available" }}</p>
            </tr>
        </table>
    </div>
    {% include 'main/related.html' %}
</div>
{% endblock content %}