{% extends 'base.html' %}


{% block content %}
<div class="container mt-2 mb-5">
    <h2 class="text-center">Sign Up</h2>
    <p class="text-center">Please fill the form below</p>
    <form method="post">
        {% csrf_token %}
        {% include 'includes/field.html' with field=form.email %}
        {% include 'includes/field.html' with field=form.username %}
        {% include 'includes/field.html' with field=form.password1 %}
        {% include 'includes/field.html' with field=form.password2 %}
        <button type="submit" class="btn btn-primary w-25">Sign Up</button>
    </form>
    <p>Already have an account? Login <a href="/login">here</a>.</p>
</div>
{% endblock content %}